@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@font-face {
  font-family: 'fright';
  font-style: normal;
  font-weight: 400;
  /* src: url('../fonts/open-sans-v13-latin-regular.eot');  */
  src: 
       url('../public/fonts/Frightmare.ttf') format('truetype'); /* Safari, Android, iOS */
       /* url('../fonts/open-sans-v13-latin-regular.svg#OpenSans') format('svg'); Legacy iOS */
}
body {
  /* margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
  /* font-family: 'Rubik', sans-serif; */
  
  color: #ffffff;
  background-color: #000;
}
svg,span,a,button,input,.w-box{
   transition: all 200ms ease !important;
}

/*code {
   font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace; 
}*/
h1, h2, h3, h4, h5, h6, a{
  font-family: 'fright';
}


h2{font-size: 42px;}
h3{font-size: 32px;}
h4{font-size: 22px;}
p{font-size: 16px;
  font-family: 'Open Sans', sans-serif;
}

li{
  list-style: none;
}
ul{
  margin: 0;
  padding: 0;
}
/* header css start */
.top-header ul {
  display: flex;
  align-items: center;
  justify-content: end;
}

.top-header ul li {
  margin-left: 24px;
}

.top-header ul li a {
  color: #fff;
  font-size: 21px;
}

.top-header {
  padding: 10px 0;
}

.top-header ul li a:hover {
  opacity: 0.7;
}
.mob-view{
  display: none;
}
/* header css end */
/* banner css start */
.banner-main {
  text-align: center;
  margin: 50px 0 90px;

}

.banner-main h6 {
  color: #f60801;
  text-transform: uppercase;
  font-size: 27px;
  letter-spacing: 9px;
}

.banner-main h1 {
  font-size: 17rem;
  text-transform: uppercase;
  letter-spacing: 34px;
  line-height: 270px;
  background-image: url('Assets/blood.png');
  background-repeat: repeat;
  -webkit-background-clip: text;
  background-position: -90px -290px;
  -webkit-text-fill-color: transparent;
  background-size: cover;
  margin: 0;
}
.banner-main p {
  width: 54%;
  margin: 0 auto;
  line-height: 40px;
  opacity: 0.8;
  font-weight: 400;
  font-size: 18px;
  margin-bottom: 33px;
}

.banner-main a {
  display: inline-block;
  color: #fff;
  text-decoration: none;
  text-transform: capitalize;
  font-size: 27px;
  letter-spacing: 5px;
  background-color: #f71002;
  padding: 10px 10px;
  position: relative;
}
.banner-main a:before{
  position: absolute;
  content: '';
  background-image: url('Assets/button-r.png');
  width: 100px;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    left: -99px;
    top: 0;
}
.banner-main a:after{
  position: absolute;
  content: '';
  background-image: url('Assets/button-r.png');
  width: 100px;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    right: -99px;
    top: 0;
    transform: rotate(180deg);
}
/* banner css end */
/* about css start */
.red-boxes {
  border: 4px solid #f7100285;
  border-radius: 20px 20px 0 0;
  padding: 80px 50px;
  box-shadow: rgb(247 16 2 / 12%) -1px -12px 20px 20px, rgb(246 8 1 / 18%) 2px 2px 20px 9px;
  text-align: center;
  margin: 100px 0;
  background-color: #00000063;
}
.big-txt {
  color: #ffffff5e;
  text-transform: uppercase;
  font-size: 21rem;
  line-height: 360px;
  margin: 0;
}

.small-txt {
  color: #fff;
  text-transform: capitalize;
  font-size: 6rem;
  display: inline-block;
  position: relative;
  z-index: 99;
}
.about-txt h3:after {
  content: '';
  position: absolute;
  background-image: url('Assets/blood-small.png');
  width: 180px;
  height: 180px;
  background-size: cover;
  background-repeat: no-repeat;
  top: -70px;
  right: -70px;
  z-index: -1;
}
.about-txt p {
  color: #fff;
  font-size: 20px;
  line-height: 43px;
  opacity: 0.7;
  font-weight: 300;
  width: 77%;
  margin: 0 auto;
}
.abt-headings{
  margin-top: -110px;
}
/* about css end */
/* story css start */
.story-txt h2 {
  text-align: left;
}
.story-txt img {
  width: 100%;
}
.story-txt .row {
  align-items: center;
  margin-top: -100px;
}
.story-txt p {
  color: #fff;
  font-size: 20px;
  line-height: 43px;
  opacity: 0.9;
  font-weight: 300;
}
.story-txt h3{
  margin-left: -123px;
}
.story-txt h3:before{
  content: '';
  position: absolute;
  background-image: url('Assets/blood-small.png');
  width: 230px;
  height: 230px;
  background-size: cover;
  background-repeat: no-repeat;
  top: -59px;
  left: -80px;
  z-index: -1;
}

.story-txt {
  text-align: left;
}
/* story css end */
/* roadmap css start */
.roadmap-txt h3:before{
  content: '';
  position: absolute;
  background-image: url('Assets/blood-small.png');
  width: 170px;
    height: 170px;
    background-size: cover;
    background-repeat: no-repeat;
    top: -61px;
    left: -101px;
    z-index: -1;
}
/* roadmap css end */
/* team css start */
.team-txt h3:before{
  content: '';
  position: absolute;
  background-image: url('Assets/blood-small.png');
  width: 170px;
    height: 170px;
    background-size: cover;
    background-repeat: no-repeat;
    top: -61px;
    left: -101px;
    z-index: -1;
}
.team-img img {
  width: 100%;
}

.team-img {
  position: relative;
  transition: all 1s;
  margin: 20px;

}

.team-img .img-txt {
  position: absolute;
  top: 0;
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  justify-content: center;
  background-color: #f71002cc;
  padding: 29px;
  transition: all 1s;
  opacity: 0;
}
.team-img:hover{
transform: scale(1.1);
}
.team-img:hover .img-txt{
  opacity: 1;
}
.team-img .img-txt p {
  font-weight: 300;
  line-height: 32px;
  margin: 0;
}

/* team css end */
/* faqs css start */
.faq-txt h3:before{
  content: '';
  position: absolute;
  background-image: url('Assets/blood-small.png');
  width: 170px;
    height: 170px;
    background-size: cover;
    background-repeat: no-repeat;
    top: -61px;
    left: -101px;
    z-index: -1;
}

.faq-sec .accordion-button {
  display: flex;
  align-items: center;
  border: none;
}
.faq-sec .accordion-button:focus{
  box-shadow: none;
}
.faq-sec .accordion-button span {
  font-size: 31px;
  margin-right: 20px;
}

.faq-sec .accordion-button p {
  margin: 0;
  font-size: 23px;
}
.faq-sec .accordion-item {
  border: 4px solid #545252;
  border-radius: 40px !important;
  overflow: hidden;
  margin: 18px 0;
}
.accordion-body p {
  color: #000;
  margin: 0 40px 14px;
  font-size: 17px;
  text-align: left;
  line-height: 29px;
}

.faq-sec .accordion-button:not(.collapsed){
  color: #000;
  background-color: #fff;
  box-shadow: none;
}
.faq-sec .accordion-button::after {
  background-image: url(Assets/up.png);
  background-color: #fe0000;
    padding: 17px 15px 13px;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 100%;
}
.faq-sec .accordion-button:not(.collapsed)::after{
  background-image: url(Assets/up.png);
  background-color: #fe0000;
  padding: 17px 15px 13px;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 100%;
}
.faq-sec .accordion-body {
  padding: 0rem 1.25rem 1rem;
}

.faq-txt .accordion-header h6 {
  font-size: 22px;
  color: #000;
  margin: 0;
  /* font-weight: 600; */
}
.faq-sec .accordion-button:not(.collapsed) h6 {
  font-size: 30px;
}
.faq-txt .accordion {
  margin: 40px 0px 0;
}
/* faqs css end */
/* FOR WIDTH 1399px  */
@media only screen and (max-width:1399px){
 
}


/* FOR WIDTH 1199px  */
@media only screen and (max-width:1199px){

}

/* FOR WIDTH 991px  */
@media only screen and (max-width:991px){

}

/* FOR WIDTH 1199px  */
@media only screen and (min-width: 992px) and (max-width: 1199px){
 
}

/* FOR WIDTH 991px  */
@media only screen and (min-width: 768px) and (max-width: 991px){
 
}

@media only screen and (min-width: 300px) and (max-width: 519px){
  
}
 